.dart_tool/
.packages
build/
.idea
**/generated_files/**
.vscode/
.fvm/
.fvmrc

test_project/
test/builder/.dart_tool/
test/builder/lib/
test/builder/.packages
test/e2e/tests/schemas/generated/
test/builders/
test/generated/
